.product {
    padding: 4px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: #FFF;
    min-height: 243px;
    position: relative;
}

.product__image {
    width: 100%;
    height: 120px;
    object-fit: cover; // лишнее будет обрезаться
    border-radius: 8px;
    margin-bottom: 10px;
}
.product__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
}
.product__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 4px;
    flex-grow: 1;

}
.product_detail {
    outline: none; //todo outline
        &:hover, &:focus {
            color: #F86310;
        }
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            pointer-events: none;
            outline: 1px solid transparent;
            border-radius: 12px;

        }

        &:focus-visible {
          color: #F86310;
        }

        &:focus-visible:after {
            outline-color: #F86310;
        }
}
.product__weight {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #B1B1B1;
    margin-bottom: 7px;
}
.product__add {
    width: 100%;
    padding: 9px;
    background: #F2F2F3;
    border-radius: 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

    transition: transform .1s ease, background-color .3s ease-in-out;
        &:hover {
            background-color: #FFAB08;
        }
        &:focus-visible { //tab
            background-color: #F86310;
        }
        &:active {
            transform: translate(1px, 2px);
        }
        &:disabled {
            color: #ACACAC;
            background-color: #F9F9F9;
        }

        @supports not selector(:focus-visible) {
            .modal-delivery__submit:focus {
                background-color: #F86310;
            }
        }
}







