
@media (min-width:480px) {
    //START================================================header - 480px
    .header {
        background-size: 1700px;
        padding-bottom: 44px;
    }

    .header__container {
        max-width: 480px;
    }

    .header__title-container {
        min-height: 190px;
        padding-bottom: 0;
        padding-left: 180px;
        padding-top: 27px;
        text-align: left;
        background-position: left;
        background-size: contain;
    }
    //END================================================header - 480px
    //START================================================footer- 480px
    .footer__logo {
        margin-bottom: 36px;
    }
    .footer__address {
        flex-direction: row;
        margin-bottom: 40px;
    }

    .footer__contact {
        flex-grow: 1; // два элемента и они должны занимать одинаковое пространство
    }
     //END================================================footer- 480px
    //START================================================MODAL- 480px
    .modal {
        padding: 10px;
    }
    .modal-product {
        min-width: 524px;
        min-height: auto; //не ограничиваем
        width: 100%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        padding: 16px 16px 24px;
    }

    .modal-product__container {
        max-width: unset;
    }

    .modal-product__title {
        margin-bottom: 16px;
    }

    .modal-product__content {
        display: grid;
        gap: 10px 8px;
        grid-template-columns: 226px 1fr;
        grid-template-rows: min-content 1fr ;
        margin-bottom: 22px;
    }

    .modal-product__image {
        grid-row: 1 / 3;
        margin-bottom: 0;
    }

    .modal-product__description {
        grid-row: 1 / 1;
        margin-bottom: 0;
    }

    .modal-product__ingredients {
        grid-row: 2 / 3;
        margin-bottom: 0;
    }

    .modal_product__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal-product__add {
        margin-bottom: 0;
    }

    .modal-product__btn {
        flex-grow: unset;
        width: 218px;
    }
    //END================================================MODAL- 480px
    //START================================================MODAL FORM- 480px
    .modal-delivery {
        max-width: 524px;
        min-height: auto; //не ограничиваем
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        padding: 20px 16px 29px;
    }

    .modal-delivery__container {
        margin-left: 0;
    }

    
     //END================================================MODAL FORM- 480px
}

@media (min-width: 768px) {
    //START================================================header
    .header{
        background-size: 2540px;
    }

    .header__container {
        max-width: calc(562px + var(--padding-container)*2);
    }

    .header__title-container {
        padding-left: 237px; // место для bg бургер
        min-height: 229px;
    }

    .header__title {
        font-size: 36px;
        margin-bottom: 26px;
    }
        //END================================================header
        //START================================================order
        .order {
            width: 145px;
            transition: width 0.1s ease-in-out;
         }

         .order.order_open {
            width: 300px;
         }
        //END================================================order
        //START================================================navigation
    .navigation__list {
        column-gap: 12px;
    }
        //END================================================navigation
        //START================================================footer
    .footer__logo {
        margin-bottom: 36px;
    }
    .footer__address {
        flex-direction: row;
        margin-bottom: 40px;
    }

         //END================================================footer
}






@media (min-width: 1024px) {
        //START================================================header -1024
    .header{
        background-size: 2880px;
        padding-bottom: 63px;
        margin-bottom: 40px;
    }

    .header__container {
        max-width: calc(764px + var(--padding-container)*2);
    }

    .header__title-container {
        padding-top: 46px;
        padding-left: 326px; // место для bg бургер
        min-height: 326px;
    }

    .header__title {
        font-size: 50px;
        margin-bottom: 52px;
    }

    .header__appeal {
        font-size: 16px;
        line-height: 22px;
    }
        //END================================================header -1024
        //START================================================navigation -1024
    .navigation {
        margin-bottom: 50px;
    }
    .navigation__list {
        column-gap: 24px;
    }
    .navigation__button {
        padding: 9px 14px  9px 46px;
        font-size: 16px;
        line-height: 22px;
        background-position: 14px center;
    }
        //END================================================navigation -1024
        //START================================================product -1024
         .product {
            padding: 12px;
            border-radius: 18px;
            min-height: 411px;
        }

        .product__image {
            height: 220px;
            border-radius: 12px;
            margin-bottom: 16px;
        }
        .product__price {
            font-size: 24px;
            margin-bottom: 8px;
        }
        .product__title {
            font-size: 16px;
            margin-bottom: 8px;
        }

        .product__weight {
            font-size: 16px;
            margin-bottom: 8px;
        }

        .product__add {
            padding: 12px;
            border-radius: 12px;
            font-size: 16px;
        }
        //END================================================product -1024
        //START================================================catalog -1024

        .catalog {
            margin-bottom: 100px;
        }

        .catalog__list {
            grid-template-columns: repeat(auto-fit, 300px);
            gap: 30px;
        }

        .catalog__wrapper {
            flex-grow: 1; // занимай все свободное пространство
        }

        .catalog__title {
            font-weight: 400;
            margin-bottom: 24px;
        }

        .catalog__container {
            display: flex;
            gap: 30px;
        }

        .catalog__order {
            padding-top: 72px;
        }
        //END================================================catalog -1024
        //START================================================order -1024

        .order {
            width:300px;
        }

        .order__wrapper {
            position: unset;// unset убирает свойства
            padding: 24px 16px;
        }

        .order__wrap-title {
            margin-bottom: 12px;
            pointer-events: none;
            cursor: default;
            &:hover .order__title {
                color: inherit; //что необходимо наследовать значение свойства у родительского элемента
            }
            &::after {
                content: none;
            }

        }

        .order__title {
            font-size: 24px;
        }

        .order__count {
            width: 41px;
            height: 20px;
            font-size: 12px;
        }

        .order__item {
            padding: 15px 0;
        }

        .order__wrap_list {
            display: block;
            margin-bottom: 16px;
        }

        .order__close {
            display: none;
        }

        .order__total {
            font-size: 16px;
            margin-bottom: 24px;
        }

        .order__submit {
            height: 40px;
            padding: 11px;
            border-radius: 12px;
            font-size: 16px;
            margin-bottom: 8px;
        }

        .order__apeal {
            font-size: 12px;
        }


        //END================================================order -1024
          //START================================================footer -1024
        .footer__content {
            display: grid;
            grid-template-areas: 
            'logo address'
            'development .';
            gap: 35px;
        }

        .footer__logo {
            width: 300px;
            margin-bottom: 0;
            grid-area: logo;
        }
        .footer__address {
            margin-bottom: 0;
            grid-area: address;
            gap: 50px;
            justify-content: flex-end;
        }

        .footer__contact {
            flex-grow: unset; // отменяем 1;
        }

        .footer__development {
            grid-area: development;
        }

        .footer__title {
            margin-bottom: 24px;
            font-size: 24px;
        }
        .footer__title_sn {
            margin-bottom: 22px;
        }

        .footer__link-phone {
            font-size: 16px;
        }
        //END================================================footer -1024
        //START================================================MODAL -1024
        .ingredients__title,
        .ingredients__list,
        .ingredients__calories {
            font-size: 12px;
        }

        .modal-product {
            max-width: 684px;
            padding: 24px 24px 36px;
        }

        .modal-product__title {
            font-size: 40px;
            margin-bottom: 24px;
        }

        .modal-product__content {
            grid-template-columns: 276px 1fr;
            gap: 10px 16px;
            margin-bottom: 38px;
        }

        .modal-product__description {
            font-size: 16px;
        }

        .modal-product__btn {
            width: 276px;
            padding: 12px;
        }

        .modal-product__price {
            font-size: 24px;
        }
        //END================================================MODAL -1024
         //START================================================MODAL FORM -1024
         
        .modal {
            padding: 20px;
        }

        .modal-delivery {
            max-width: 684px;
            padding: 44px 24px 24px 366px;
            background: url('@img/donut.svg') 19px center, linear-gradient(to right, #FFAB08 50%, #fff 50%); // градиет (последння) вегда располагается ниже donuta
            background-size: 302px, auto; // 302 - для первой картинки, auto - для второй картинки
            background-repeat: no-repeat;
        }

        .modal-delivery__title {
            font-size: 24px;
            margin-bottom: 16px;
        }

        .modal-delivery__form {
            margin-bottom: 32px;
            gap: 16px;
        }

        .modal-delivery__input {
            font-size: 12px;
            padding: 10px 12px; //немного скорректировали от макета
            height: 40px;
        }

        .modal-delivery__label {
            font-size: 12px;
        }

        .modal-delivery__fieldset_radio {
            gap: 12px;
        }

        .modal-delivery__submit {
            font-size: 16px;
        }

        .modal__close {
            top: 24px;
            right: 24px;
        }
        //END================================================MODAL FORM -1024
}






@media (min-width: 1360px) {
        //START================================================header
    .header__container {
        max-width: calc(784px + var(--padding-container)*2);
    }d

    .header__title-container {
        padding-left: 346px; // место для bg бургер
    }
        //END================================================header
        //START================================================footer
        .footer__content {
            grid-template-columns: 1fr 1fr;
            gap: 35px 30px;
        }

        .footer__address {
            justify-content: flex-start;
        }

        .footer__contact {
            flex-grow: 1;

        }
        //END================================================footer
}








@media (min-width: 1920px) {
        //START================================================header
    .header{
        background-size: 4660px;
    }
        //END================================================header
}






