@import "normalize";
@import "reset";
@import "fonts";

//default style's
html {
    --container: 300px;
    --padding-container:10px;
    box-sizing: border-box;

    //чтобы убрать скрол от  navigation
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif; // используем подключенный шрифт
    min-width: 320px;
    min-height: 100vh;
    background-color: #F9F9F9;
    color: #000;
}

.container {
    max-width: calc(var(--container) + var(--padding-container) * 2);
    padding: 0 var(--padding-container);
    margin: 0 auto;

     //чтобы убрать скрол от  navigation
    position: relative;
    overflow-x: hidden;
}






@media (min-width: 480px) {
    html {
        --container: 640px;
    }
}

@media (min-width: 768px) {
    html {
        --padding-container: 64px;
    }
}

@media (min-width: 1024px) {
    html {
        --container: 960px;
        --padding-container: 32px;
    }
}

@media (min-width: 1360px) {
    html {
        --container: 1290px;
    }
}

@import "blocks/header";
@import "blocks/navigation";
@import "blocks/catalog";
@import "blocks/count";
@import "blocks/product";
@import "blocks/footer";
@import "blocks/modal";

@import "mediaQueries";

